* {
   margin: 0;
   padding: 0;
}

body {
 background-color: white;
 font-family: Arial, "Charcoal", sans-serif;
 letter-spacing: 5px;
}

header {
 height:40px;
 background:#641E16;
 padding: 10px;
 text-align: center;
}

h1 {
 color: white;
}


button {
 width: 100px;
 padding: 5px;
 margin-top: 20px;
 margin-left: 5%;
 font-weight: 600;
 color: white;
 border-radius: 28px;
background-color:#D98880;
}

#botones button:first-child { /* Esta seccion es para centrar los botones */
 margin-left: 60%
}
