#areaBasket  {
   position: relative;
   margin-top: 50px;
   margin-left: 33%;
    width: 1000px;
    height: 500px;
    border: 3px solid #555;
    background: #B87E09;
    display: none;
}

#circuloMedioBasket {
  position:absolute;
  margin-top: 19%;
  margin-left: 45%;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid white;
  background: #B87E09;
}

#lineaCentral, #lineaDerecha {
  position:absolute;
  margin-top: 0%;
  margin-left: 50%;
  width: 2px;
  height: 500px;
  background: white;
}

.canastaDosPuntos {
  position:absolute;
  margin-top: 8%;
  margin-left: -0.5%;
  width: 320px;
  height: 350px;
  border: 2px solid white;
  background: #B87E09;
  -moz-border-radius: 0 250px 250px 0;
  -webkit-border-radius: 0 250px 250px 0;
  border-radius: 0 250px 250px 0;
}

.derecha{
  margin-left: 68%;
  transform: rotate(180deg);
}

.trapecioCanasta {
  position:absolute;
  margin-top: 14%;
  margin-left: 0.3%;
  width: 100px;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 230px solid #B87E09;
  transform: rotate(90deg)
}
.trapecioCanastaBlanco {
  position:absolute;
  margin-top: 14%;
  margin-left: 0.2%;
  width: 102px;
  height: 0px;
  border-right: 62px solid transparent;
  border-left: 62px solid transparent;
  border-bottom: 233px solid white;
  transform: rotate(90deg);
}

.derecho{
  transform: rotate(-90deg);
  margin-left: 77.5%;
}

.circuloCanasta {
  position:absolute;
  margin-top: 20.5%;
  margin-left: 18%;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid white;

}

.right {
    margin-left: 72%;
}

#lineaDerecha{
  margin-left: 77%;
  margin-top: 20.5%;
  height: 100px;
}

#balonBasket {
  position:absolute;
  margin-top: 200px;
  margin-left: 80%;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #D35400;
}
